<!-- Left Menu -->

<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="metismenu">

            <!-- dashboard -->
            <li>
                <a href="/admin/index">
                    <i class="material-icons">dashboard</i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <!-- banner list -->
            <!--<li>
                <a href="/admin/banner_list">
                    <i class="material-icons">assignment</i>
                    <span class="nav-label">Banner List</span>
                </a>
            </li>-->
            <!-- user list -->
            <li>
                <a href="/admin/user_list">
                    <i class="material-icons">supervisor_account</i>
                    <span class="nav-label">Customer List</span>
                </a>
            </li>
            <!-- admin role list -->
            <li>
                <a href="/admin/role_list">
                    <i class="material-icons">assignment</i>
                    <span class="nav-label">Staff Management</span>
                </a>
            </li>
            <!-- vender user list -->
            <li>
                <a href="/admin/vendor_list">
                    <i class="material-icons">dvr</i>
                    <span class="nav-label">Insurance Company List</span>
                </a>
            </li>
            <!-- policy category list -->
            <!-- <li>
                <a href="/admin/policy_category_list">
                    <i class="material-icons">dvr</i>
                    <span class="nav-label">Policy Category List</span>
                </a>
            </li>-->



            <!-- news list -->
            <li class="">
                <a href="/admin/news_list">
                    <i class="material-icons">chrome_reader_mode</i>
                    <span>Tameenik News</span></a>
            </li>

            <!-- reward list -->
            <li class="">
                <a href="/admin/reward_list">
                    <i class="material-icons">redeem</i>
                    <span>Reward List</span></a>
            </li>


            <!-- building fees list -->
            <li class="">
                <a href="/admin/premium_list">
                    <i class="material-icons">local_parking</i>
                    <span> Insurance Premium List</span></a>
            </li>
 <!-- benefit insurance list -->
 <li class="">
    <a href="/admin/benefit_insurance_list">
        <i class="material-icons">subtitles</i>
        <span>Benefits Of Insurance List</span></a>
</li>

<!-- about insurance list -->
<li class="">
    <a href="/admin/about_insurance_list">
        <i class="material-icons">view_module</i>
        <span>Insurance Description List</span></a>
</li>



<li>
    <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">layers</i>
        <span class="nav-label">Attributes</span>
    </a>
    <ul>

       <!-- home type list -->
<li class="active">
    <a href="/admin/home_type_list">
        <span>Home Type List</span></a>
</li>

<!-- governorate list -->
<li class="active">
    <a href="/admin/governorate_list">
        <span>Governorate List</span></a>
</li>

    </ul>
</li>
<li>
    <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">dashboard</i>
        <span class="nav-label">Settings</span>
    </a>
    <ul>

       <!-- home type list -->
<li class="active">
 <a href="/admin/about_us">
        <span>About Us</span>
    </a>
</li>

<!-- governorate list -->
<li class="active">
    <a href="/admin/contact_us">
        <span>Contact Us</span></a>
</li>
<!-- privacy policy list -->
<li class="active">
    <a href="/admin/privacy_policy">
        <span class="nav-label">Privacy Policy</span>
    </a>
</li>

<!-- term and condition list -->
<li class="active">
    <a href="/admin/terms_and_condition">
        <span>Terms And Condition</span>
    </a>
</li>
 <!-- faqlist -->
<li class="active">
    <a href="/admin/faq_list">
        <span>Faq list</span>
    </a>
</li>
</ul>
</li>

</ul>

</nav>
</aside>
